body{
  display: grid;
  grid-template-rows: 1fr 50px;
  background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
  justify-content: center;
  align-items: center;
}

#rectangle7 {
    position: absolute;
    width: 1013px;
    height: 900px;
    left: 453px;
    top: 10px;

    background: #C0C0C0;
    border-radius: 46px;
    border: solid #000;
}

#rectangle14{
    position: absolute;
    width: 670px;
    height: 40px;
    left: 500px;
    top: 476px;

    background: #FFDAB9;
    border-radius: 20px;
}
#rectangle15{
    position: absolute;
    width: 670px;
    height: 40px;
    left: 500px;
    top: 680px;

    background: #FFDAB9;
    border-radius: 20px;
}









#vector5 {
    position: absolute;
    width: 1013px;
    height: 0px;
    left: 453px;
    top: 100px;

    border: solid #000;
}

#vector6 {
    position: absolute;
    width: 1013px;
    height: 0px;
    left: 453px;
    top: 530px;

    border: solid #000;
}









h24 {
    position: absolute;
    width: 600px;
    left: 500px;
    top: 40px;

    color: #000;
    font-family: Cuprum;
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
}

h26 {
    position: absolute;
    width: 300px;
    height: 49px;
    left: 1160px;
    top: 20px;

    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;

    color: #000;
}

h28 {
    position: absolute;
    width: 912px;
    height: 240px;
    left: 504px;
    top: 220px;
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 50px;
    background: #FFDAB9;
    border-radius: 30px;
}

h29 {
    position: absolute;
    width: 400px;
    height: 31px;
    left: 524px;
    top: 480px;

    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;

    color: #000;
}

h30 {
    position: absolute;
    width: 150px;
    height: 31px;
    left: 536px;
    top: 684px;

    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    white-space: nowrap;
    color: #000;
}

h35 {
    position: absolute;
    width: 560px;
    height: 44px;
    left: 504px;
    top: 540px;

    background: #FFDAB9;
    border-radius: 30px;
    font-family: 'Cuprum';

    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 40px;

    white-space: nowrap;
    color: #000;
}









.button-delete-all {
    position: absolute;
    width: 320px;
    height: 72px;
    left: 840px;
    top: 130px;

    background: #FFDAB9;
    border-radius: 30px;

    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 350;
    font-size: 30px;
    line-height: 10px;
    text-align: center;
    color: #000;
}

.button-delete-all:hover {
    color: #000;
    background: #FFDAB9;
    border: 2px solid #FFDAB9;
}

.button3 {
    position: absolute;
    width: 320px;
    height: 72px;
    left: 500px;
    top: 130px;

    background: #FFDAB9;
    border-radius: 30px;

    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 350;
    font-size: 30px;
    line-height: 10px;
    text-align: center;
    color: #000;
}

.button3:hover {
    color: #000;
    background: #FFDAB9;
    border: 2px solid #FFDAB9;
}

.button5 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 500px;
    top: 600px;

    background: #FFDAB9;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    color: #000;
}

.button5:hover {
    color: #000;
    background: #FFDAB9;
    border: 2px solid #FFDAB9;
}

.button6 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 740px;
    top: 600px;

    background: #7C79F2;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 50px;
    text-align: center;
    color: #000;
}

.button6:hover {
    color: #000;
    background: #FFDAB9;
    border: 2px solid #FFDAB9;
}

.button7 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 980px;
    top: 600px;

    background: #FFDAB9;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 50px;
    text-align: center;
    color: #000;
}

.button7:hover {
    color: #000;
    background: #FFDAB9;
    border: 2px solid #FFDAB9;
}

.button8 {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1220px;
    top: 600px;

    background: #FFDAB9;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    color: #000;
}

.button8:hover {
    color: #000;
    background: #FFDAB9;
    border: 2px solid #FFDAB9;
}

.button9 {
    position: absolute;
    width: 500px;
    height: 72px;
    left: 504px;
    top: 780px;
    cursor: pointer;
    background: #FFDAB9;
    border-radius: 30px;

    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 70px;
    text-align: center;
    color: #000;
}

.button9:hover {
  color: #000;
  background: #FFDAB9;
  border: 2px solid #FFDAB9;
}

.button10 {
    position: absolute;
    width: 204px;
    height: 72px;
    left: 1212px;
    top: 780px;

    background: #FFDAB9;
    border-radius: 30px;

    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    color: #000;
}

.button10:hover {
  color: #000;
  background: #FFDAB9;
  border: 2px solid #FFDAB9;
}