<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Пользователь</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div id="rectangle1"></div>
    <div id="rectangle2"></div>
    <div id="rectangle3"></div>
    <div id="vector2"></div>
    <div id="vector3"></div>
    <div id="vector4"></div>
    <label5><input type="radio" name="dva"/></label5>
    <label6><input type="radio" name="dva"/></label6>
    <label7><input type="radio" name="dva"/></label7>
<form action="handler.php">
<h8>Профиль</h8>
<h9>Роль</h9>
<h10>Фамилия Имя Отчество</h10>
<h11>Выбрать контакт для связи:</h11>
<h12>Почта</h12>
<h13><input type="text" class="demo-1" placeholder="example@mail.com"></h13>
<h14>Телефон</h14>
<h15><input type="text" class="demo-1" placeholder="+7-(___)-___-__-__"></h15>
<h16>Другое</h16>
<h17><input type="text" class="demo-1" placeholder="Укажите"></h17>
<h18>Изменение пароля:</h18>
<h19><input type="text" class="demo-1" placeholder="Старый пароль"></h19>
<h20><input type="text" class="demo-1" placeholder="Новый пароль"></h20>
<h21><input type="text" class="demo-1" placeholder="Повторить пароль"></h21>

<button1>Сохранить</button1>

<p><button2>
    Закрыть
    <img src="{{ url_for('static', filename='img/Vector.png') }}" alt="" style="vertical-align:middle">
</button2></p>


</form>
</body>
</html>