<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div id="rectangle9"></div>

    <div id="rectangle12"></div>
    <div id="circle"></div>
    <div id="vector8"></div>
    <form method="post">
    <label><input type="radio" name="filter" value="nonecheck"/></label>
    <label1><input type="radio" name="filter" value="read"/></label1>
    <label2><input type="radio" name="filter" value="looking"/></label2>
    <label3><input type="radio" name="filter" value="good"/></label3>
    <label4><input type="radio" name="filter" value="bad"/></label4>

        <button class="button19" name="filter" type="reset">Сбросить</button>
        <button class="button20" name="filtered" type="submit">Найти</button>
    </form>
    <h65>Фильтр</h65>
    <h66>Новое</h66>
    <h67>Прочтена</h67>
    <h68>На проверке</h68>
    <h69>Зачтена</h69>
    <h70>Не зачтена</h70>


<h49>Задачи</h49>

   <form action="/add_tasks" method="GET">
    <form action="handler.php">
        {% if role == 0 %}
        <button class="button21">
        <h81><img src="{{ url_for('static', filename='img/круг.png') }}" alt =""></h81>
        <h82><img src="{{ url_for('static', filename='img/плюс.png') }}" alt =""></h82>
        </button>
        {% endif %}
        </form>
    </form>

<h49>Задачи</h49>
    <form action="/profile" method="GET">
<button class="button14" name="{{ name_user }}" type="submit">{{ name_user }}</button>
    </form>
<form action="/logout" method="GET">
    <button class="button15" type="submit"> Выйти </button>
</form>
<form action="/view_task" method="get">

    <div class="wrap">
    {% if role == 1 %}

    <h2>Задачи с дедлайном</h2>
    {% for task in tasks %}
        {% if task.end_date != None %}
        <button class="btn-task" name="{{ task.id }}" type="submit">

        <h3>{{ task.name_task }} &nbsp; {{ deadline_list[task.id] }} &nbsp; {{ task_list[task.id] }} &nbsp; {{ task.status }}</h3>
        </button>
        {% endif %}
    {% endfor %}
    <h2>Задачи без дедлайна</h2>
    {% for task in tasks %}
        {% if task.end_date == None %}
        <button class="btn-task" name="{{ task.id }}" type="submit">
        <h3>{{ task.name_task }} &nbsp; {{ task_list[task.id] }} &nbsp; {{ task.status }}</h3>

        </button>
        {% endif %}
    {% endfor %}

    {% else %}

    <h2>Задачи с дедлайном</h2>
    {% for task in tasks %}
        {% if task.end_date != None %}

        <button class="btn-task" name="{{ task.id }}" type="submit">
            <h3>{{ task.name_task }} &nbsp; {{ deadline_list[task.id] }} &nbsp; {{ task.status }}</h3>
        </button>
        {% endif %}
    {% endfor %}
    <h2>Задачи без дедлайна</h2>
    {% for task in tasks %}
        {% if task.end_date == None %}
            <button class="btn-task" name="{{ task.id }}" type="submit">
        <h3>{{ task.name_task }} &nbsp; {{ task.status }}</h3>
            </button>
        {% endif %}
    {% endfor %}

    {% endif %}
    </div>
</form>

</form>
</body>
</html>