<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Экран пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div id="rectangle9"></div>
    <div id="rectangle10"></div>
    <div id="rectangle11"></div>
    <div id="rectangle12"></div>
    <div id="circle"></div>
    <div id="vector8"></div>
    <label><input type="radio" name="dva"/></label>
    <label1><input type="radio" name="dva"/></label1>
    <label2><input type="radio" name="dva"/></label2>
    <label3><input type="radio" name="dva"/></label3>
    <label4><input type="radio" name="dva"/></label4>

<form action="handler.php">
<h49>Задачи</h49>

<button14>Фамилия И.О.</button14>

<button15>Выйти</button15>

<button16 class="w-100 btn btn-lg btn-primary" type="submit"></button16>
        <h52>Название</h52>
        <h53>000:00:00</h53>
        <h54>Статус</h54>
        <h55>Фамилия И.О.</h55>

<button17 class="w-100 btn btn-lg btn-primary" type="submit"></button17>
        <h56>Название</h56>
        <h57>000:00:00</h57>
        <h58>Статус</h58>
        <h59>Фамилия И.О.</h59>

<button18 class="w-100 btn btn-lg btn-primary" type="submit"></button18>
        <h60>Название</h60>
        <h61>000:00:00</h61>
        <h62>Статус</h62>
        <h63>Фамилия И.О.</h63>
<h64>Нет задач без дедлайна</h64>

<h65>Фильтр</h65>
<h66>Новое</h66>
<h67>Прочтена</h67>
<h68>На проверке</h68>
<h69>Зачтена</h69>
<h70>Не зачтена</h70>

<button19>Сбросить</button19>
<button20>Найти</button20>


<h81><img src="{{ url_for('static', filename='img/круг.png') }}" alt =""></h81>
<h82><img src="{{ url_for('static', filename='img/плюс.png') }}" alt =""></h82>
</form>
</body>
</html>